<!DOCTYPE HTML>
<html lang="zh-CN">
    <style type="text/css">
        .sticker {

        }
        .thumbnail.is-selected {
            background-color:#428bca
        }
    </style>
    <head>
        <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>微信使用数据查看</title>
        <!-- Latest compiled and minified CSS -->
        
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/jquery.jsonview.min.css" />

        <script type="text/javascript" src="js/jquery-2.1.3.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/vue.js"></script>
        <script type="text/javascript" src="js/bootstrap_loading.js"></script>
        <script src="js/md5.min.js"></script>
        <script type="text/javascript" src="js/wx-gifs/gif-usage-vue.js"></script>
        <script type="text/javascript" src="js/bqmm-net.js"></script>
    </head>
    <body>
        <div class="container" id="task_page">
            <div class="text-center" style="margin-top: 40px;">
                <h3>微信使用数据查看</h3>
            </div>
            <div class="row">
                <div class="form-inline" style="margin-top:5px;">
                    <div class="form-group"  style="margin-right: 10px">
                        <select class="form-control" id="id-date-selected" style="width: 180px;">
                            <option v-for="date in dates">
                                {{date}}
                            </option>
                        </select>
                    </div>
                    <span>页码</span>
                    <button id="id-btn-page-decrease" type="button" class="btn btn-default">-</button>
                    <div class="form-group" style="width: 50px">
                        <input type="text" class="form-control text-center" style="width: 50px" id="id-input-page" value="1"/>    
                    </div>
                    <button id="id-btn-page-increase" type="button" style="margin-right:10px;" class="btn btn-default">+</button>    
                    <button id="id-btn-load-data" type="button" style="margin-right:10px;" class="btn btn-lg btn-default">拉取数据</button>
                    <span>数据量：({{total_count}})</span>
<!--                     <div class="form-group">
                            <input type="text" class="form-control" id="id_input_wxkw" placeholder="关键词"/>    
                    </div>
                    <button id="id-btn-searchwx-similar" type="button" style="margin-right:10px;" class="btn btn-lg btn-default">模糊查看相似词</button> -->
                </div>
            </div>
            <div class="row" style="margin-top:20px;">
                <sticker v-for="image in task_images" v-bind:src="image"></sticker>
            </div>
        </div>
        <script type="text/javascript" src="js/wx-gifs/gif-usage.js"></script>
    </body>
</html>